html,
body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 0.5rem;
}

section:first-child {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}

label,
input,
select {
  margin-bottom: 0.5em;
}

img {
  width: 100px;
}

#qs {
  width: 50%;
  margin-bottom: 1rem;
}

.filters {
  flex-direction: row;
  gap: 1em;
}

.filters div {
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  width: 100%;
  overflow: auto;
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.loader .emoji {
  font-size: 60px;
  width: min-content;
}
